.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: var(--blue);
    text-decoration: none;
    margin-right: 95px;
    line-height: 31px;

    &__studio--black {
      color: var(--black);
    }
    &__studio--white {
      color: var(--white);
    }
  }